<div class="row form-group mb-4">
  <%= f.label :month_used, class: 'col-md-2' do %>
    Tháng sử dụng
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.month_field :month_used, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :electricity_index, class: 'col-md-2' do %>
    Chỉ số điện
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.text_field :electricity_index, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :water_index, class: 'col-md-2' do %>
    Chỉ số nước
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.text_field :water_index, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :amount_of_members, class: 'col-md-2' do %>
    Số thành viên
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.text_field :amount_of_members, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <div class="col-md-6 offset-md-2">
    <%= f.submit 'Lưu', class: 'btn btn-primary' %>
  </div>
</div>
