<div class="container-fluid px-5">
  <h1 class="my-4">Chỉ số điện nước</h1>
  <%= link_to 'Nhập chỉ số', new_meter_path, class: 'btn btn-primary' %>
  <div class="my-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= sort_link @q, :month_used, 'Tháng', {}, { class: 'text-decoration-none' } %></th>
          <th><%= sort_link @q, :electricity_index, 'Chỉ số điện', {}, { class: 'text-decoration-none' } %></th>
          <th><%= sort_link @q, :water_index, 'Chỉ số nước', {}, { class: 'text-decoration-none' } %></th>
          <th>Số thành viên</th>
          <th><%= sort_link @q, :created_at, 'Ngày tạo', {}, { class: 'text-decoration-none' } %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @meters.each do |meter| %>
          <tr>
            <td><%= meter.month_used.strftime('%Y-%m') %></td>
            <td><%= meter.electricity_index %></td>
            <td><%= meter.water_index %></td>
            <td><%= meter.amount_of_members %></td>
            <td><%= meter.created_at.strftime('%Y-%m-%d') %></td>
            <td>
              <%= link_to edit_meter_path(meter) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= link_to meter_path(meter), data: { turbo_method: :delete, turbo_confirm: "Bạn có muốn xoá bản ghi này không?" } do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @meters, theme: 'bootstrap-5' %>
  </div>
</div>
