<div class="row form-group mb-4">
  <%= f.label :savings_date, class: 'col-md-2' do %>
    Ngày
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.date_field :savings_date, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :sacombank_amount, class: 'col-md-2' do %>
    Sacombank
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.text_field :sacombank_amount, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :tpbank_amount, class: 'col-md-2' do %>
    TPbank
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.text_field :tpbank_amount, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :vietcombank_amount, class: 'col-md-2' do %>
    Vietcombank
    <span class="link-danger">*</span>
  <% end %>
  <div class="col-md-6">
    <%= f.text_field :vietcombank_amount, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <%= f.label :description, class: 'col-md-2' do %>
    Mô tả
  <% end %>
  <div class="col-md-6">
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>
<div class="row form-group mb-4">
  <div class="col-md-6 offset-md-2">
    <%= f.submit 'Lưu', class: 'btn btn-primary' %>
  </div>
</div>
