<div class="container-fluid px-5">
  <h1 class="my-4">Hoá đơn</h1>
  <%= link_to 'Tạo hoá đơn', new_bill_path, class: 'btn btn-primary' %>
  <div class="my-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= sort_link @q, :meter_month_used, 'Tháng', {}, { class: 'text-decoration-none' } %></th>
          <th><%= sort_link @q, :electricity_cost, 'Tiền điện (VNĐ)', {}, { class: 'text-decoration-none' } %></th>
          <th><%= sort_link @q, :water_cost, 'Tiền nước (VNĐ)', {}, { class: 'text-decoration-none' } %></th>
          <th><%= sort_link @q, :surcharge_fee, 'Phụ phí (VNĐ)', {}, { class: 'text-decoration-none' } %></th>
          <th><%= sort_link @q, :total_amount, 'Tổng tiền (VNĐ)', {}, { class: 'text-decoration-none' } %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.meter.month_used.strftime('%Y/%m') %></td>
            <td><%= number_to_currency(bill.electricity_cost, precision: 0, unit: '', format: "%n %u") %></td>
            <td><%= number_to_currency(bill.water_cost, precision: 0, unit: '', format: "%n %u") %></td>
            <td><%= number_to_currency(bill.surcharge_fee, precision: 0, unit: '', format: "%n %u") %></td>
            <td><strong><%= number_to_currency(bill.total_amount, precision: 0, unit: '', format: "%n %u") %></strong></td>
            <td>
              <%= link_to bill_path(bill) do %>
                <i class="fa-solid fa-eye"></i>
              <% end %>
              <%= link_to bill_path(bill), data: { turbo_method: :delete, turbo_confirm: "Bạn có muốn xoá bản ghi này không?" } do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @bills, theme: 'bootstrap-5' %>
  </div>
</div>
