<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link" href="/">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Bảng điều khiển
      </a>
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-meteor"></i></div>
        Quản lý nhà trọ
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <% is_show_rent = request.path.include?("/bill") || request.path.include?("/meters") || request.path.include?("/general_setting") %>
      <div class="collapse <%= 'show' if is_show_rent %>" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="<%= meters_path %>">
            Chỉ số điện nước
          </a>
          <a class="nav-link" href="<%= bills_path %>">
            Hoá đơn
          </a>
          <a class="nav-link" href="<%= general_setting_path %>">
            Cài đặt
          </a>
        </nav>
      </div>
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFinance" aria-expanded="false" aria-controls="collapseFinance">
        <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>
        Quản lý tài chính
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <% is_show_finance = request.path.include?("/gold_investments") %>
      <div class="collapse <%= 'show' if is_show_finance %>" id="collapseFinance" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="<%= gold_investments_path %>">
            Đầu tư vàng
          </a>
        </nav>
      </div>
    </div>
  </div>
</nav>
